/.daml
.DS_Store
assets/.DS_Store
getting-started/.DS_Store
*.sw*
**/DA
**/t*mp
**/libs
**/venv
**/*.log*
**/*.db
**/.navigator.conf
**/__pycache__
**/.vs
**/.vscode
**/.idea
**/documentation
**/.metadata.json
**/node_modules
**/package-lock.json
**/protobuf
**/*.dar
**/*_pb2*.py
**/_template
**/daml-dependencies.json
**/Pipfile.lock
**/data
**/target
**/.daml
**/*.dalf
**/.project
**/.classpath